@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<DragDropZone @ref="dropZone" TItem="IParaphrase" Name="1">
    <ItemRenderer>
        <h1 style="color: red">@context.Paraphrase()</h1>
    </ItemRenderer>
</DragDropZone>

<DragDropZone @ref="dropZone2" TItem="B" Name="2">
    <ItemRenderer>
        <h1 style="color: blue">@context.Paraphrase() - @context.age</h1>
    </ItemRenderer>
</DragDropZone>

<DragDropZone @ref="dropZone3" TItem="IParaphrase" Name="3">
    <ItemRenderer>
        <h1 style="color: pink">@context.Paraphrase()</h1>
    </ItemRenderer>
</DragDropZone>

<DragDropZone TItem="B" Name="4" DropOnly="true">
    <ItemRenderer>
        <h1 style="color: yellow">@context.name - @context.age</h1>
    </ItemRenderer>
</DragDropZone>

@code {
    DragDropZone<IParaphrase> dropZone;
    DragDropZone<B> dropZone2;
    DragDropZone<IParaphrase> dropZone3;

    protected override void OnAfterRender(bool firstRender)
    {
        dropZone.DropItem(new B("Isaac", 21));
        dropZone.DropItem(new A("Johnny"));
        dropZone2.DropItem(new B("Bob", 12));
        dropZone3.DropItem(new C(41));
        base.OnAfterRender(firstRender);
    }

    interface IParaphrase
    {
        public string Paraphrase();
    }

    class A : IParaphrase
    {
        public string name;

        public A(string n)
        {
            name = n;
        }

        public string Paraphrase()
        {
            return name;
        }
    }

    class B : A
    {
        public int age;

        public B(string n, int a) : base(n)
        {
            age = a;
        }

        public new string Paraphrase()
        {
            return name + " (B)";
        }
    }

    class C : IParaphrase
    {
        public int num;

        public C(int n)
        {
            num = n;
        }

        public string Paraphrase()
        {
            return num.ToString();
        }
    }

}