@typeparam TItem
@inject DragDropService dragDropService
@implements IDisposable
@implements IDragDropZone

<!--Make styling more simple? Maybe update styling when checking ondragover?-->
<div style=@getStyle() @ondragover:preventDefault ondragend="@dragDropService.StopDrag" ondragover="@(() => {dragDropService.SetOver(this); if (emptyAndHovering) {StateHasChanged();}})" ondragenter="" ondragleave="@(() => {currentHoverIndex = -1;})">
    @{int i = 0;}
    @if (emptyAndHovering)
    {
        <div style="border-width: 1px; border-style: dashed; border-color:green; padding: 2px; height: 100px;">
        </div>
    }

    @while (i < Items.Count)
    {
        if (i == currentHoverIndex - 1)
        {
            <div style="border-width: 1px; border-style: dashed; border-color:green; padding: 2px; height: 100px">
            </div>
        }

        object item = Items[i];
        <div draggable="true" @ondragover:preventDefault ondragstart="@(() => dragDropService.StartDrag(this, item))" ondragover="@(() => DragOverItem(i))">
            @ItemRenderer((TItem)item)
        </div>

        i++;
    }
</div>

@code {
    [Parameter]
    public RenderFragment<TItem> ItemRenderer { get; set; }

    [Parameter]
    public string Name { get; set; }

    private List<object> Items { get; set; } = new();

    private int currentHoverIndex = -1;

    private bool emptyAndHovering => Items.Count == 0 && dragDropService.CanDropHere(this);

    public override string ToString()
    {
        return Name;
    }

    protected override void OnInitialized()
    {
        dragDropService.AddZone(this);
        base.OnInitialized();
    }

    public void Dispose()
    {
        dragDropService.RemoveZone(this);
    }

    //CHECK for interfaces and other types?
    public bool CanDropItem(object item) => item.GetType().IsSameOrSubClassOf(typeof(TItem));

    public void DropItem(object item)
    {
        if (item.GetType().IsSameOrSubClassOf(typeof(TItem)))
        {
            Items.Add(item);
            StateHasChanged();
        }
    }

    public void RemoveItem(object item)
    {
        this.Items.Remove(item);
        StateHasChanged();
    }

    private string getStyle()
    {
        string cursorStyle = "";
        if (dragDropService.CanDropHere(this))
        {
            Console.WriteLine("CAN DROP HERE " + this.ToString());
            cursorStyle = "cursor: copy;";
        } 
        else if (dragDropService.IsCurrent(this))
        {
            Console.WriteLine("CAN'T DROP HERE " + this.ToString());
            cursorStyle = "cursor: no-drop;";
        }

        return "border-width: 2px; border-style: dashed; border-color:black; padding: 2px; " + cursorStyle;
    }

    private void DragOverItem(int index)
    {
        if (dragDropService.CanDropHere(this))
        {
            currentHoverIndex = index;
        }
        StateHasChanged();
    }

    public void UpdateCurrentZone(bool isCurrent)
    {
        if (!isCurrent)
        {
            currentHoverIndex = -1;
            StateHasChanged();
        }
    }
}
