@typeparam TItem where TItem : class
@implements IDisposable
@implements IDragDropZone<TItem>

<div class=@getClasses() @ondragover:preventDefault ondragend="@DragDropService.StopDrag" ondragover="@DragOverZone" ondragleave="@LeaveZone">
    
    @if (ShowHeader)
    {
        <div class="dropZoneOnly">
            @if (ZoneHeader == null)
            {
                <h1>@Title</h1>
            }
            else
            {
                @ZoneHeader
            }
        </div>
    }

    @if (ShowItems)
    {
        int i = 0;
        if (emptyAndHovering)
        {
            <div class="dropOutline">
            </div>
        }

        while (i < Items.Count)
        {
            TItem item = Items[i];
            int index = i;
            <div ondragover="@(() => DragOverItem(index))" class="itemWrapper">
                @if (i == currentHoverIndex)
                {
                    <div class="dropOutline">
                    </div>
                }
                <div draggable="true" @ondragover:preventDefault ondragstart="@(() => DragDropService.StartDrag(this, item))">
                    @ItemRenderer((TItem)item)
                </div>
            </div>

            i++;
        }

        @if (CanReorder && currentHoverIndex == -1 && DragDropService.IsCurrent(this))
        {
            <div class="dropOutline">
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public required RenderFragment<TItem> ItemRenderer { get; set; }

    [Parameter]
    public RenderFragment? ZoneHeader { get; set; }

    [Parameter]
    public bool ShowItems { get; set; } = true;

    [Parameter]
    public string? Title { get; set; } = null;

    [Parameter]
    public string CanDropClass { get; set; } = "";

    [Parameter]
    public string NoDropClass { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public bool CanReorder { get; set; } = false;

    private bool ShowHeader => ZoneHeader != null || Title != null;

    private List<TItem> Items { get; set; } = new();

    private int currentHoverIndex = -1;

    private bool emptyAndHovering => CanReorder && Items.Count == 0 && DragDropService.CanDropHere(this);

    private int hoverCounter = 0;
    
    [CascadingParameter]
    private DragDropService<TItem> DragDropService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DragDropService.AddZone(this);
    }

    public override string ToString()
    {
        return Title;
    }

    public void Dispose()
    {
        DragDropService.RemoveZone(this);
    }

    // TODO: CHECK for interfaces and other types?
    public bool CanDropItem(TItem item) => typeof(TItem).IsCompatibleType(item.GetType());

    public void DropItem(TItem item)
    {
        if (CanDropItem(item))
        {
            int insertIndex = currentHoverIndex == -1 ? Items.Count : currentHoverIndex;
            Items.Insert(Math.Min(insertIndex, Items.Count), item);
            StateHasChanged();
        }
    }

    public void RemoveItem(TItem item)
    {
        this.Items.Remove(item);
        StateHasChanged();
    }

    public void ReorderItem(TItem item)
    {
        if (CanDropItem(item))
        {
            int insertIndex = currentHoverIndex == -1 ? Items.Count : currentHoverIndex;
            insertIndex -= Items.IndexOf(item) < currentHoverIndex ? 1 : 0; //remove 1 index if item is currently appearing before where it is being dropped.
            Items.Remove(item);
            Items.Insert(Math.Min(Items.Count, insertIndex), item);
            StateHasChanged();
        }
    }

    private string getClasses()
    {
        List<string> classes = new() { "dropZone", Class };

        bool isCurrent = DragDropService.IsCurrent(this);
        bool isValid = DragDropService.CanDropHere(this);

        Console.WriteLine($"{isCurrent} {isValid}");

        if (DragDropService == null)
        {
            classes.Add("mud-error");
        }

        if (isCurrent && isValid)
        {
            classes.Add(CanDropClass);
        } 
        else if (isCurrent)
        {
            classes.Add(NoDropClass);
        }

        return String.Join(" ", classes.ToArray());
    }

    private void DragOverZone()
    {
        DragDropService.SetOver(this);
        if (emptyAndHovering)
        {
            StateHasChanged();
        }
    }

    private void LeaveZone(DragEventArgs eventArgs)
    {
        currentHoverIndex = -1;
    }

    private void DragOverItem(int index)
    {
        Console.WriteLine($"Dragged over {index}");
        if (DragDropService.CanDropHere(this))
        {
            currentHoverIndex = index;
        }
        StateHasChanged();
    }

    public void UpdateCurrentZone(bool isCurrent)
    {
        if (!isCurrent)
        {
            currentHoverIndex = -1;
        }
        StateHasChanged();
    }

}
